<!-- Modal para editar tiradas de salvación -->
<dialog id="edit_saving_throws_modal" class="modal">
    <div class="modal-box max-w-2xl h-full w-full md:w-11/12 md:h-auto">
        <h3 class="font-bold text-lg mb-4">Editar Tiradas de Salvación</h3>
        <form method="POST" action="{{ url_for('characters.update_character', char_id=character.id) }}" class="space-y-4">
            <input type="hidden" name="modal" value="saving_throws">
            
            <div class="overflow-x-auto">
                <table class="table w-full">
                    <tbody>

                    <tr>
                        <td class="text-center">Competencia</td>
                    </tr>

                    <!-- Fuerza -->
                    <tr>
                        <td class="text-center space-x-1">
                            {% set strength_proficiency = character.proficiencies.get('strength', None) %}
                            <input type="checkbox" class="checkbox checkbox-sm"
                                   onclick="addProficiencyBonus(this, false)"
                                   {% if strength_proficiency == 'proficiency' or strength_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                            <input type="checkbox" class="checkbox checkbox-sm checkbox-accent" 
                                   onclick="addProficiencyBonus(this, true)"
                                   {% if strength_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                        </td>
                        <td>Fuerza (Fue)</td>
                        {% set save_strength = strength_mod %}
                        {% if strength_proficiency == 'proficiency' %}
                            {% set save_strength = strength_mod + proficiency_bonus %}
                        {% elif strength_proficiency == 'expertise' %}
                            {% set save_strength = strength_mod + (2 * proficiency_bonus) %}
                        {% endif %}
                        <td class="text-right">{{ "%+d"|format(save_strength) }}</td>
                    </tr>

                    <!-- Destreza -->
                    <tr>
                        <td class="text-center space-x-1">    
                            {% set dexterity_proficiency = character.proficiencies.get('dexterity', None) %}
                            <input type="checkbox" class="checkbox checkbox-sm"
                                   onclick="addProficiencyBonus(this, false)"
                                   {% if dexterity_proficiency == 'proficiency' or dexterity_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                            <input type="checkbox" class="checkbox checkbox-sm checkbox-accent" 
                                   onclick="addProficiencyBonus(this, true)"
                                   {% if dexterity_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                        </td>
                        <td>Destreza (Des)</td>
                        {% set save_dexterity = dexterity_mod %}
                        {% if dexterity_proficiency == 'proficiency' %}
                            {% set save_dexterity = dexterity_mod + proficiency_bonus %}
                        {% elif dexterity_proficiency == 'expertise' %}
                            {% set save_dexterity = dexterity_mod + (2 * proficiency_bonus) %}
                        {% endif %}
                        <td class="text-right">{{ "%+d"|format(save_dexterity) }}</td>
                    </tr>

                    <!-- Constitución -->
                    <tr>
                        <td class="text-center space-x-1">
                            {% set constitution_proficiency = character.proficiencies.get('constitution', None) %}
                            <input type="checkbox" class="checkbox checkbox-sm"
                                   onclick="addProficiencyBonus(this, false)"
                                   {% if constitution_proficiency == 'proficiency' or constitution_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                            <input type="checkbox" class="checkbox checkbox-sm checkbox-accent" 
                                   onclick="addProficiencyBonus(this, true)"
                                   {% if constitution_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                        </td>
                        <td>Constitución (Con)</td>
                        {% set save_constitution = constitution_mod %}
                        {% if constitution_proficiency == 'proficiency' %}
                            {% set save_constitution = constitution_mod + proficiency_bonus %}
                        {% elif constitution_proficiency == 'expertise' %}
                            {% set save_constitution = constitution_mod + (2 * proficiency_bonus) %}
                        {% endif %}
                        <td class="text-right">{{ "%+d"|format(save_constitution) }}</td>
                    </tr>

                    <!-- Inteligencia -->
                    <tr>
                        <td class="text-center space-x-1">
                            {% set intelligence_proficiency = character.proficiencies.get('intelligence', None) %}
                            <input type="checkbox" class="checkbox checkbox-sm"
                                   onclick="addProficiencyBonus(this, false)"
                                   {% if intelligence_proficiency == 'proficiency' or intelligence_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                            <input type="checkbox" class="checkbox checkbox-sm checkbox-accent" 
                                   onclick="addProficiencyBonus(this, true)"
                                   {% if intelligence_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                        </td>
                        <td>Inteligencia (Int)</td>
                        {% set save_intelligence = intelligence_mod %}
                        {% if intelligence_proficiency == 'proficiency' %}
                            {% set save_intelligence = intelligence_mod + proficiency_bonus %}
                        {% elif intelligence_proficiency == 'expertise' %}
                            {% set save_intelligence = intelligence_mod + (2 * proficiency_bonus) %}
                        {% endif %}
                        <td class="text-right">{{ "%+d"|format(save_intelligence) }}</td>
                    </tr>

                    <!-- Sabiduría -->
                    <tr>
                        <td class="text-center space-x-1">
                            {% set wisdom_proficiency = character.proficiencies.get('wisdom', None) %}
                            <input type="checkbox" class="checkbox checkbox-sm"
                                   onclick="addProficiencyBonus(this, false)"
                                   {% if wisdom_proficiency == 'proficiency' or wisdom_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                            <input type="checkbox" class="checkbox checkbox-sm checkbox-accent" 
                                   onclick="addProficiencyBonus(this, true)"
                                   {% if wisdom_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                        </td>
                        <td>Sabiduría (Sab)</td>
                        {% set save_wisdom = wisdom_mod %}
                        {% if wisdom_proficiency == 'proficiency' %}
                            {% set save_wisdom = wisdom_mod + proficiency_bonus %}
                        {% elif wisdom_proficiency == 'expertise' %}
                            {% set save_wisdom = wisdom_mod + (2 * proficiency_bonus) %}
                        {% endif %}
                        <td class="text-right">{{ "%+d"|format(save_wisdom) }}</td>
                    </tr>

                    <!-- Carisma -->
                    <tr>
                        <td class="text-center space-x-1">
                            {% set charisma_proficiency = character.proficiencies.get('charisma', None) %}
                            <input type="checkbox" class="checkbox checkbox-sm"
                                   onclick="addProficiencyBonus(this, false)"
                                   {% if charisma_proficiency == 'proficiency' or charisma_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                            <input type="checkbox" class="checkbox checkbox-sm checkbox-accent" 
                                   onclick="addProficiencyBonus(this, true)"
                                   {% if charisma_proficiency == 'expertise' %}checked="checked"{% endif %}/>
                        </td>
                        <td>Carisma (Car)</td>
                        {% set save_charisma = charisma_mod %}
                        {% if charisma_proficiency == 'proficiency' %}
                            {% set save_charisma = charisma_mod + proficiency_bonus %}
                        {% elif charisma_proficiency == 'expertise' %}
                            {% set save_charisma = charisma_mod + (2 * proficiency_bonus) %}
                        {% endif %}
                        <td class="text-right">{{ "%+d"|format(save_charisma) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-action">
                <button type="button" class="btn" onclick="edit_saving_throws_modal.close()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
    
    <script>
    function addProficiencyBonus(checkbox, expertise = false) {
            const proficiency_bonus = parseInt("{{ proficiency_bonus | tojson }}");
            const bonusCell = checkbox.parentElement.nextElementSibling.nextElementSibling;
            const currentValue = parseInt(bonusCell.textContent);
            const originalValue = parseInt(checkbox.dataset.originalValue || currentValue);

            if (checkbox.checked) {
                // Almacena el valor original si no se ha almacenado
                if (!checkbox.dataset.originalValue) {
                    checkbox.dataset.originalValue = currentValue.toString();
                }
                const newValue = originalValue + (expertise ? 2 * proficiency_bonus : proficiency_bonus);
                bonusCell.textContent = (newValue >= 0 ? '+' : '') + newValue;
            } else {
                // Restaura el valor original con su signo
                bonusCell.textContent = (originalValue >= 0 ? '+' : '') + originalValue;
            }
        }
    </script>
</dialog>