{% extends "base.html" %}

{% block title %}{{ character.name }} - {% endblock %}

{% block content %}
    <div class="flex-auto container mx-auto p-4 max-w-6xl mb-8">
        <!-- Encabezado del personaje con navegación y acciones -->
        <div class="flex flex-wrap justify-between items-center mb-6 gap-4">
            <div class="flex gap-2">
                <a href="{{ url_for('characters.character_gallery') }}" class="btn btn-outline btn-sm gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                    </svg>
                    Volver
                </a>
            </div>
            <div class="flex gap-2">
                <a type="button" class="btn btn-error btn-outline btn-sm"
                            onclick="delete_character_modal.showModal()" aria-label="Eliminar">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                        </svg>
                        Eliminar
                    </a>
                <a href=""
                   class="btn btn-outline btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"></path>
                    </svg>
                    Imprimir
                </a>
            </div>

            <!-- Modal de confirmación para eliminar personaje -->
            <dialog id="delete_character_modal" class="modal">
                <div class="modal-box">
                    <h3 class="font-bold text-lg">¿Estás seguro?</h3>
                    <p class="py-4">Esta acción eliminará permanentemente tu personaje y todos tus datos. Esta acción
                        no se puede deshacer.</p>
                    <div class="modal-action flex gap-2">
                        <button class="btn btn-ghost" onclick="delete_character_modal.close()">Cancelar</button>
                        <form action="{{ url_for('characters.delete_character', char_id=character.id) }}" method="POST">
                            <button type="submit" class="btn btn-error">Eliminar personaje</button>
                        </form>
                    </div>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
        </div>

        <!-- Encabezado del perfil del personaje -->
        <div class="card bg-base-200 shadow-xl mb-6">
            <div class="card-body p-6">
                <div class="flex flex-col md:flex-row gap-6 items-center md:items-start">
                    <!-- Avatar del personaje -->
                    <div class="avatar placeholder">
                        <div class="bg-neutral text-neutral-content rounded-full w-24">
                            <span class="text-3xl flex justify-center h-full items-center">{{ character.name[:2]|upper }}</span>
                        </div>
                    </div>

                    <!-- Información básica del personaje -->
                    <div class="flex-1">
                        <div class="flex flex-col sm:flex-row justify-between items-center sm:items-start gap-4">
                            <div>
                                <h1 class="text-3xl font-bold">{{ character.name }}</h1>
                                <div class="flex flex-wrap gap-2 mt-2">
                                    <span class="badge badge-lg">{{ compendium.get_race(character.race).get('name', '') }}</span>
                                    <span class="badge badge-accent badge-lg">{{ compendium.get_class(character.char_class).get('name', '') }}</span>
                                    <span class="badge badge-secondary badge-lg">Nivel {{ character.level }}</span>
                                </div>
                            </div>

                            <!-- Puntos de Golpe -->
                            <div class="stats bg-base-100 shadow">
                                <div class="stat px-4 py-2">
                                    <div class="stat-title">Puntos de Golpe</div>
                                    <div class="stat-value text-center">{{ character.hp|default(-42) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pestañas para secciones diferentes -->
        <div class="tabs tabs-lift tabs-sm sm:tabs-md ">
            <input type="radio" name="char_sections" class="tab [--tab-border-color:var(--color-accent)]"
                   aria-label="Información"
                   checked="checked"/>
            <div class="tab-content bg-base-100 border-accent p-6">
                {% include 'characters/character/info_tab.html' %}
            </div>

            <input type="radio" name="char_sections" class="tab [--tab-border-color:var(--color-accent)]"
                   aria-label="Trasfondo"/>
            <div class="tab-content bg-base-100 border-accent p-6">
                {% include 'characters/character/background_tab.html' %}
            </div>

            <input type="radio" name="char_sections" class="tab [--tab-border-color:var(--color-accent)]"
                   aria-label="Rasgos"/>
            <div class="tab-content bg-base-100 border-accent p-6">
                {% include 'characters/character/features_tab.html' %}
            </div>

            <input type="radio" name="char_sections" class="tab [--tab-border-color:var(--color-accent)]"
                   aria-label="Conjuros"/>
            <div class="tab-content bg-base-100 border-accent p-6">
                {% include 'characters/character/spells_tab.html' %}
            </div>
        </div>
    </div>
{% endblock %}