<!-- prettier-ignore -->
{% extends 'base.html' %}

{% block title %}Register - {% endblock %}
{% block content %}

<div class="flex-auto container max-w-md mx-auto mt-12 px-4">
  <form method="POST" action="{{ url_for('auth.register') }}" class="space-y-4">
    <fieldset class="fieldset w-md p-4">
      <h1 class="text-3xl font-bold mb-6">Register</h1>

      <label class="label"> Username </label>
      <input type="text" name="username" class="input w-full" required />
      <br />

      <label class="label"> Email </label>
      <input type="email" name="email" class="input w-full" required />
      <br />

      <label class="label"> Password </label>
      <input
        type="password"
        name="password"
        class="input w-full"
        required
      />
      <br />

      <label class="label"> Confirm Password </label>
      <input
        type="password"
        name="confirm_password"
        class="input w-full"
        required
      />
      <div class="divider"></div>
      
      <button type="submit" class="btn btn-primary">Register</button>

      <p class="mt-4 text-sm">
        Already have an account?
        <a href="{{ url_for('auth.login') }}" class="link link-primary"
          >Login</a
        >
      </p>
    </fieldset>
  </form>
</div>

{% endblock %}
