<!DOCTYPE html>
<html lang="en" data-theme="latte" xmlns:xlink="">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/output.css') }}"/>
</head>

<body class="min-h-screen flex flex-col bg-base">
{% include 'base/header.html' %}

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="toast toast-top toast-center z-50">
            {% for category, message in messages %}
                <div role="alert" class="alert alert-{{ category }}">
                    <svg width="24" height="24">
                        <use xlink:href="{{ url_for('static', filename='icons/alerts.svg') }}#{{ category }}"></use>
                    </svg>
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}

{% include 'base/footer.html' %}
</body>
</html>
